body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

nav {
  background: #2c3e50;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

section {
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

/* Başta gizli olacak class */
.hidden {
  display: none;
}
